<ul>
  <% @recreation_centers.each do |rec_center| %>
    <li>
      <%= link_to rec_center.name, recreation_center_path(rec_center.objectid) %> <%= rec_center.address %> <%= rec_center.status %>
    </li>
  <% end %>
</ul>
