<div class='ui menu'>
  <div class='ui container'>
    <span class='header item'>
    <i class='red star icon'></i>
    <i class='red star icon'></i>
    <i class='red star icon'></i>
    <%= link_to 'DC Recreation Centers', root_path %>
    </span>
  </div>
</div>
